{% extends 'navbar.html' %}

{% block css %}
    .form-change-pass {
    width: 550px;
    border: 1px solid #ccc;
    padding: 50px;
    }
{% endblock %}

{% block title %}
    Đổi mật khẩu
{% endblock %}


{% block content %}
    <h1>Thay đổi mật khẩu</h1>
    {% if mess %}
        <p>{{ mess }}</p>
    {% endif %}
    <form method="post" class="form-change-pass">
        {% csrf_token %}
        <label for="password1">
            Nhập mật khẩu mới của bạn:
            <input type="password" name="your_news_password1" id="password1"/>
        </label><br>
        <label for="password2">
            Nhập lại mật khẩu:
            <input type="password" name="your_news_password2" id="password2"/>
        </label><br>
        <button type="submit" class="btn btn-danger">Đổi mật khẩu</button>
    </form>
{% endblock %}