{% extends 'navbar.html' %}

{% block css %}
    .form-edit-profile > input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    }
    .form-edit-profile > button {
    width: 50%;
    }
    body {
    background-color: white !important;
    }
    .form-edit-avatar {
    text-align: center;
    }
    .list-page-profile > p > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    }
    .list-page-profile > p > .active {
    color: dodgerblue;
    }
{% endblock %}

{% block title %}
    Profile of {{ profile.user.username }}
{% endblock %}


{% block content %}
    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col-4 list-page-profile">
                <p>
                    <a class="{% if '/account/profile/' == request.path %}active{% endif %}"
                       href="{% url 'accounts:profile' %}">Personal Info</a>
                </p>
                <p>
                    <a class="{% if '/account/change-password/' in request.path %}active{% endif %}"
                       href="{% url 'accounts:change_password' pk=request.user.pk %}">Password</a>
                </p>
                <p>
                    <a class="{% if '/account/list-affect/' in request.path %}active{% endif %}" href="{% url 'accounts:list_affect' %}">List Affected You have followed</a>
                </p>
                <p>
                    <a href="{% url 'accounts:notification' %}">Setting Notification</a>
                </p>
            </div>
            <div class="col-6">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        List Affected! You have followed
                    </a>
                    {% for it in list_fllowed %}
                        <a href="#" class="list-group-item list-group-item-action">{{ it.affected }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
    </div>
{% endblock %}