{% extends 'navbar.html' %}

{% block css %}
    .form-edit-profile > input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    }
    .form-edit-profile > button {
    width: 50%;
    }
    body {
    background-color: white !important;
    }
    .form-edit-avatar {
    text-align: center;
    }
    .list-page-profile > p > a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    }
    .list-page-profile > p > .active {
    color: dodgerblue;
    }
{% endblock %}

{% block title %}
    Profile of {{ profile.user.username }}
{% endblock %}


{% block content %}
    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col-2 list-page-profile">
                <p>
                    <a class="{% if '/account/profile/' == request.path %}active{% endif %}"
                       href="{% url 'accounts:profile' %}">Personal Info</a>
                </p>
                <p>
                    <a class="{% if '/account/change-password/' in request.path %}active{% endif %}"
                       href="{% url 'accounts:change_password' pk=profile.user.pk %}">Password</a>
                </p>
                <p>
                    <a href="#">Tech Follow</a>
                </p>
                <p>
                    <a href="{% url 'accounts:notification' %}">Setting Notification</a>
                </p>
            </div>
            <div class="col-3 form-edit-avatar" style="padding: 30px;">
                <img src="/media/{{ profile.avatar_profile }}"
                     style="border-radius: 50%; width: 150px; height: 150px;" id="image"/>
                <p><b>Avatar</b></p>
            </div>
            <div class="col-6">
                <form method="post" class="form-edit-profile" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h2><b>YOUR</b> <b style="color: dodgerblue">INFORMATION</b></h2>
                    <label for="id_full_name">Full name:</label>
                    <input type="text" name="full_name" maxlength="40" id="id_full_name" value="{{ profile.full_name }}">
                    <label for="id_dob">Dob:</label>
                    <input type="text" name="dob" maxlength="50" id="id_dob" value="{{ profile.dob }}">
                    <label for="id_phone_number">Phone number:</label>
                    <input type="text" name="phone_number" maxlength="20" id="id_phone_number" value="{{ profile.phone_number }}">
                    <label for="id_email_profile">Email profile:</label>
                    <input type="email" name="email_profile" maxlength="100" id="id_email_profile" value="{{ profile.email_profile }}">
                    <label for="id_avatar_profile">Avatar profile:</label>
                    <input type="file" name="avatar_profile" accept="image/*" id="id_avatar_profile">
                    <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
            </div>
        </div><hr>
        <div>
            <div class="list-group">
              <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                List Affected! You have followed
              </a>
                {% for it in list_fllowed %}
                    <a href="#" class="list-group-item list-group-item-action">{{ it.affected.product }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}