{% extends 'navbar.html' %}


{% block css %}
    .form-find-cve {
    background-color: white;
    padding: 25px;
    border-radius: 20px;
    line-height: 30px;
    margin-top: -100px;
    margin-bottom: 50px;
    z-index: 99;
    position:relative;
    }
    form > input {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    }
    .button-find {
    padding: 15px 30px 15px 30px;
    font-weight: bold;
    }
    body {
    background-color: #222831 !important;
    }
    a {
    text-decoration: none;
    color: black;
    }
    .top-right {
    position: absolute;
    top: 100px;
    right: 16px;
    }
    .image-first {
    position: relative;
    color: white;
    }
    .rectangle {
    height: 40px;
    width: 15px;
    background-color: #0F60DD;
    float:left;
    }
{% endblock %}

{% block title %}
    Home
{% endblock %}


{% block content %}
    <div class="image-first">
        <img src="/media/bg-sec.jpg" style="width: 100%" alt="background">
        <div class="top-right">
            <div class="row">
                <div class="col-6"></div>
                <div class="col-6">
                    <h2 style="font-size: 52px">LET'S FIND</h2>
                    <p>
                        Technology-based CVE Search, Vulnerabilities and CVEs Suggested based on the technology you are
                        tracking!
                    </p>
                    <div class="row">
                        <div class="col">
                            <a href="{% url 'app:list_cves' %}"><button style="width: 100%" class="btn btn-primary">FIND NOW</button></a>
                        </div>
                        <div class="col">
                            <button style="width: 100%" class="btn btn-primary">LEARN MORE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-find-cve">
            <h1><b style="color: dodgerblue">FIND</b> <b>YOUR</b> <b style="color: dodgerblue">CVE</b></h1>
            <p>Find technologies...</p>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="id_cve" style="width: 100%" placeholder="Find CVE-ID">
                <button type="submit" class="btn btn-primary button-find">FIND NOW</button>
            </form>
        </div>
        <div class="row">
            <a style="text-decoration: none;" href="{% url 'app:list_cves' %}">
                <h2 style="color: white;">
                    <div class="rectangle"></div>&nbsp;List CVE
                </h2>
            </a>
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% if list_cves %}
                    {% for i in list_cves %}
                        <div class="col">
                            <div class="card h-100">
                                <a href="{% url 'app:detail_cves' pk=i.pk %}"><img src="/media/{{ i.avatar }}"
                                                                                   class="card-img-top" alt="..."
                                                                                   style="width: 100%; height: 200px;"></a>
                                <div class="card-body">
                                    <a href="{% url 'app:detail_cves' pk=i.pk %}"><h3 class="card-title">{{ i.title }}</h3>
                                    </a><br>
                                    <p class="card-text">
                                        Publish Date: {{ i.publish_date }}
                                    </p>
                                    <p class="card-text">
                                        Type: {{ i.data_type }}
                                    </p>

                                    <a href="{% url 'app:detail_cves' pk=i.pk %}">
                                        <button class="btn btn-dark">READ NOW</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p style="color: white">There are currently no CVEs</p>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    <div style="background-color: white !important; color: black !important; padding: 20px;">
        <div class="container">
            <div class="row">
                <a style="text-decoration: none;" href="#">
                    <h2 style="color: black">
                        <div class="rectangle"></div>&nbsp;Technoligies
                    </h2>
                </a>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for i in list_test %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="/media/bg-sec.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-title">Tech {{ i }}</h3>
                                    <p class="card-text">
                                        Publish Date: xxxx
                                    </p>
                                    <p class="card-text">
                                        Type: xxxx
                                    </p>

                                    <a>
                                        <button class="btn btn-dark">READ NOW</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <a href="#" style="text-decoration: none;">
                    <h2 style="color: black">
                        <div class="rectangle"></div>&nbsp;Lastest News
                    </h2>
                </a>
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for i in list_test %}
                        <div class="col">
                            <div class="card h-100">
                                <img src="/media/bg-sec.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h3 class="card-title">News {{ i }}</h3>
                                    <p class="card-text">
                                        Publish Date: xxxx
                                    </p>
                                    <p class="card-text">
                                        Type: xxxx
                                    </p>

                                    <a>
                                        <button class="btn btn-dark">READ NOW</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}