{% extends 'navbar.html' %}

{% block css %}
    a {
    text-decoration: none;
    color: black;
    }
    input, textarea {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    }
    .img-cve {
    padding: 20px;
    border-radius: 30px;
    width: 100%;
    height: auto;
    }
    .box-info {
    {#        border-radius: 30px;#}
    {#        border-color: black;#}
    {#        background-color: lightgray;#}
    {#        padding: 20px;#}
    margin-bottom: 20px;
    margin-top: 20px;
    }
    .title-box > * {
    padding: 10px;
    background-color: black !important;
    color: white !important;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    margin: 0;
    }
    .content-box {
    background-color: lightgray !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    padding: 10px;
    }
    .base-score {
    background-color: black !important;
    color: white !important;
    padding: 10px;
    border-radius: 10px;
    }
    .alert-msg {
        background-color: lightgreen;
        color: white;
        padding: 10px;
        border-radius: 5px;
        border-color: red;
    }
{% endblock %}

{% block title %}
    Detail CVEs
{% endblock %}

{% block content %}
    <div class="container" style="margin-top: 20px; margin-bottom: 20px">
        <div>
            <a href="{% url 'app:list_cves' %}"><p>< Explore CVE list</p></a>
        </div>
        <div class="row">
            <div class="col-8">
                <h1>{{ detail_cve.title }}</h1>
                <h2>{{ test }}</h2>
                <h1>{{ detail_cve.short_name }}</h1>
                <img src="/media/{{ detail_cve.avatar }}" style="width: 100%; border-radius: 10px;">
                <div class="box-info">
                    <div class="title-box">
                        <h2>DESCCRIPTION</h2>
                    </div>
                    <div class="content-box">
                        <p>{{ detail_cve.description|safe }}</p>
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2>Vulnerable products, Vendor</h2>
                    </div>
                    <div class="content-box">
                        <p>Name: {{ detail_cve.affected.product.name }}</p>
                        <p>Version: {{ detail_cve.affected.product.version.version }}</p>
                        <p>Vendor name: {{ detail_cve.affected.vendor.name }}</p>
                    </div>
                </div>
                <div class="box-info">
                    <div class="title-box">
                        <h2>Solution, References</h2>
                    </div>
                    <div class="content-box">
                        <p>Solution: {{ detail_cve.solution }}</p>
                        <p>Title: {{ detail_cve.references.name }}</p>
                        <p>URL: {{ detail_cve.references.url }}</p>
                    </div>
                </div>
                <div class="box-info">
                    {% if detail_cve.metric.cvssv30 %}
                        <p class="base-score">BASE SCORE <b
                                style="float: right">{{ detail_cve.metric.cvssv30.base_score }}</b></p>
                    {% elif detail_cve.metric.cvssv31 %}
                        <p class="base-score">BASE SCORE <b
                                style="float: right">{{ detail_cve.metric.cvssv31.base_score }}</b></p>
                    {% elif detail_cve.metric.cvssv20 %}
                        <p class="base-score">BASE SCORE <b
                                style="float: right">{{ detail_cve.metric.cvssv20.base_score }}</b></p>
                    {% endif %}
                </div>
            </div>
            <div class="col-4">
                <div class="box-info">
                    <div class="title-box">
                        <h2>CVE Informations</h2>
                    </div>
                    <div class="content-box">
                        <form method="post">
                            {% csrf_token %}
                            {% if msg %}
                                <p class="alert-msg">{{ msg }}</p>
                            {% endif %}
                            <p>CVE ID: {{ detail_cve.title }}</p>
                            <p>Published Date: {{ detail_cve.publish_date }}</p>
                            <p>Modified Date: {{ detail_cve.date_update }}</p>
                            <input name="follow_affect" value="{{ detail_cve.affected.id }}" style="display: none">
                            <button class="btn btn-dark">Follow News Now</button>
                        </form>
                    </div>
                </div>
                <br>
                <div class="box-info">
                    <div class="title-box">
                        <h2>Asking for information</h2>
                    </div>
                    <div class="content-box">
                        <form method="post">
                            {% csrf_token %}
                            <input type="text" name="your_name" placeholder="Your Name"><br>
                            <input type="text" name="email_address" placeholder="Email Address"><br>
                            <input type="text" name="phone_number" placeholder="Phone Number"><br>
                            <textarea name="message" placeholder="Message" rows="5"></textarea><br>
                            <button class="btn btn-dark" style="width: 100%">Sent</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
